.cart-icon {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 4px;
    display: grid;
    place-items: center;
    position: relative;

    .cart-icon__counter {
        background-color: var(--bg-red);
        width: 1.5rem;
        border-radius: 50%;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
    }
}

.cart-icon--outline {
    background-color: var(--grey-lightest);
}

.cart-icon--transparent {
    background-color: transparent;
}

