.menu__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5rem;
    padding: 1rem;
    border-top: 1px solid var(--grey-lightest);

    .menu__list-item-upper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .menu__list-item-name {
        white-space: nowrap;
    }

    .menu__dots {
        overflow: hidden;
    }

    .menu__dots::before {
        content: "...............................................................................................";
        display: block;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        margin: 0 1rem;
    }

    .menu__list-item-price {
        white-space: nowrap;
    }

    .menu__list-item-ingredients {
        font-size: 0.8rem;
    }
}

.menu__list-item:last-child {
    border-bottom: 1px solid var(--grey-lightest);
}
