:root {
  --bg-green: #8ed8bf;
  --bg-white: #EEEEEE;
  --bg-red: #eb5757;
  --grey-darkest: #353131;
  --grey-dark: #605858;
  --grey-light: #837C7C;
  --grey-very-light: #C2C1C1;
  --grey-lightest: #f4f3f1f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.menu-page {
  background-image: url('./assets/leaves-bg.png');
}
